<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Rishadi Dahanayake</h1>
  <h3>The portfolio of Rishadi Dahanayake</h3>
</div>
<h2>Here are some links for my poc's: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://liyaradesign.com/drupalpoc">Drupal Poc</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://liyaradesign.com/drupalpoc">IAHRAPD</a></h2>
    <p>CMS: Drupal</p>
    <p>Details: IAHRAPD is a blah blah</p>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://liyaradesign.com/drupalpoc">Access Immigration</a></h2>
    <p>CMS: SilverStripe</p>
    <p>Details: Access Immigration is a blah blah</p>
  </li>
</ul>

<router-outlet></router-outlet>
